<!DOCTYPE html>
	<html>
		<head>
			<p class="img-only-source">
				<br>

				<img src="/img/logo1.png" style="width: 100%; height: 100%">
			</p>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:bronxmetroconsulting@gmail.com">email</a></li>
	        		<li><a href="https://www.fordhamfoundry.org/">Fordham Foundry</a></li>
				</ul>
			</footer>
		</body>
	</html>
